<main>
  <div id="form-data-example" class="container">
    <div class="title">
      <h1>Página para controle dos diretórios</h1>
    </div>
    <vscode-panels aria-label="Default">
      <vscode-panel-tab id="tab-1">Configurações Gerais</vscode-panel-tab>
      <vscode-panel-tab id="tab-2">Configurações TSS</vscode-panel-tab>
      <vscode-panel-tab id="tab-3">Configurações Logix</vscode-panel-tab>
      <vscode-panel-tab id="tab-4">Configurações Datasul</vscode-panel-tab>
      <vscode-panel-view id="view-1">
        <section class="geral">
          <div class="title-left">
            <h2>Configurações Issues Logix</h2>
          </div>
          <vscode-form-group class="field-group">
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="codificacao"
              readonly
              [value]="config.issue_codificacao"
            >
              Caminho para criar issues de codificação Logix
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="issue_tu"
              readonly
              [value]="config.issue_ti"
              onclick="selectFolder(this.id)"
            >
              Caminho para criar issues de Teste Unitário
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="issue_ti"
              readonly
              [value]="config.issue_tu"
              onclick="selectFolder(this.id)"
            >
              Caminho para criar issues de Teste Integrado Logix
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="evidencia"
              readonly
              [value]="config.evidencia"
              onclick="selectFolder(this.id)"
            >
              Caminho para criar pasta de evidencia de testes Logix
            </vscode-text-field>
          </vscode-form-group>
          <vscode-divider></vscode-divider>
          <div class="title-left">
            <h2>Configurações Issues Datasul</h2>
          </div>
          <vscode-form-group class="field-group">
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              readonly
              onclick="selectFolder(this.id)"
            >
              Caminho para criar issues de codificação Datasul
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              readonly
              onclick="selectFolder(this.id)"
            >
              Caminho para criar issues de Teste Unitário Datasul
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              readonly
              onclick="selectFolder(this.id)"
            >
              Caminho para criar issues de Teste Integrado Datasul
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              readonly
              onclick="selectFolder(this.id)"
            >
              Caminho para criar pasta de evidencia de testes Datasul
            </vscode-text-field>
          </vscode-form-group>
        </section>
      </vscode-panel-view>
      <vscode-panel-view id="view-2">
        <section class="tss">
          <div class="title-left">
            <h2>Configurações Tss e DB Access</h2>
          </div>
          <vscode-form-group class="field-group">
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="tss"
              readonly
              onclick="selectFile(this.id, ['exe', 'bat'])"
            >
              Arquivo de execução do tss 32 bits
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="tss_64"
              readonly
              onclick="selectFile(this.id, ['exe', 'bat'])"
            >
              Arquivo de execução do tss 64 bits
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="dbacess_tss"
              readonly
              onclick="selectFile(this.id, ['exe', 'bat'])"
            >
              Arquivo de execução do dbacess_tss 32 bits
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="dbacess_tss_64"
              readonly
              onclick="selectFile(this.id, ['exe', 'bat'])"
            >
              Arquivo de execução do dbacess_tss 64 bits
            </vscode-text-field>
          </vscode-form-group>
        </section>
      </vscode-panel-view>
      <vscode-panel-view id="view-3">
        <section class="logix">
          <div class="title-left">
            <h2>Configurações Logix</h2>
          </div>
          <vscode-form-group class="field-group">
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="arquivos_romana"
              readonly
              onclick="selectFolder(this.id)"
            >
              Servidor com fontes atualizados
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="arquivo_log_appserver"
              readonly
              onclick="selectFile(this.id, ['log','txt'])"
            >
              Arquivo de Log do servidor 32 bits
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="arquivo_log_appserver_64"
              readonly
              onclick="selectFile(this.id, ['log','txt'])"
            >
              Arquivo de Log do servidor 64 bits
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="appserver"
              readonly
              onclick="selectFile(this.id, ['exe', 'bat'])"
            >
              Arquivo execução Appserver 32 bits
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="appserver_64"
              readonly
              onclick="selectFile(this.id, ['exe', 'bat'])"
            >
              Arquivo execução Appserver 64 bits
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="rpo_local"
              readonly
              onclick="selectFile(this.id, ['rpo'])"
            >
              Arquivo rpo servidor 32 bits
            </vscode-text-field>
            <vscode-text-field
              class="field"
              placeholder="clique no campo para alterar"
              id="rpo_local_64"
              readonly
              onclick="selectFile(this.id, ['rpo'])"
            >
              Arquivo rpo servidor 64 bits
            </vscode-text-field>
            <div class="field">
              <label for="rpo32List">
                RPO's disponíveis servidor da rede 32 bits
              </label>
              <vscode-dropdown class="field" id="rpo32List" name="rpo32List">
              </vscode-dropdown>
              <vscode-button class="button" onclick="adicionaRpo('32')">
                Adicionar
              </vscode-button>
              <vscode-button onclick="removeRpo('32')" appearance="secondary">
                Remover
              </vscode-button>
            </div>
            <div class="field">
              <label for="rpo64List">
                RPO's disponíveis servidor da rede 64 bits
              </label>
              <vscode-dropdown class="field" id="rpo64List" name="rpo64List">
              </vscode-dropdown>
              <vscode-button class="button" onclick="adicionaRpo('64')">
                Adicionar
              </vscode-button>
              <vscode-button onclick="removeRpo('64')" appearance="secondary">
                Remover
              </vscode-button>
            </div>
          </vscode-form-group>
        </section>
      </vscode-panel-view>
      <vscode-panel-view id="view-4">
        <section class="datasul">
          <div class="title-left">
            <h2>Configurações Datasul</h2>
          </div>
        </section>
      </vscode-panel-view>
    </vscode-panels>
    <vscode-divider></vscode-divider>
    <div class="field">
      <div class="buttonsSave">
        <vscode-button class="button" onclick="submit(false)">
          Salvar
        </vscode-button>
        <vscode-button
          class="button"
          onclick="submit(true)"
          appearance="secondary"
        >
          Salvar e fechar
        </vscode-button>
      </div>
    </div>
  </div>
</main>
